
        H1{
            color: rgb(157, 42, 42)}
        p{
            color: rgb(58, 22, 64);
        }
        #REF2{
            color: rgb(189, 114, 15);
        }
        #REF4{
            color: rgb(16, 105, 16);
        }
        .subtitulo{
            color: rgb(43, 112, 123);
            background: black;
        }